#images {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
}

img {
    width: 100%;
    min-height: 400px;
    object-fit: cover;
}

.child {
    flex-basis: 30%;
    flex-grow: 1;
    border-radius: 20px;
    /* height: 30%;
    min-height: 300px; */
    max-height: 490px;
    overflow: hidden;
    aspect-ratio:4/6;
}